<%#= erb :'layouts/_header' %>
<html lang="en">
  <%= erb :'layouts/_header' %>
      <div class="wrapper float-container">
        <div class="logo-section">
          <img src="images/customer_login.jpg" alt="login photo">
        </div> <!-- Logo Section -->
        <div class="password-section">
          <h1>WELCOME TO PASSIFY</h1>
          <h2>A Simple Password Generator</h2>
          <p>
            <a href="/word_generator"><button>Let's Get Started</button></a> 
          </p>
        </div><!-- Password Section -->
      </div><!-- Wrapper Section -->

      <div class="instruction-section">
        <ul class="image-section float-container">
          <li class="image1"></li>
          <li class="image2"></li>
          <li class="image3"></li>
        </ul>
        <ul class="image-section float-container">
          <li class="instruction" id="p1">
            <p>Enter a word of your choice</p>
          </li>
          <li class="instruction" id="p2">
             <p>Enter a the URL or Company name</p>
          </li>
          <li class="instruction" id="p3">
             <p>Create a Password</p>
          </li>
        </ul>
      </div><!-- Instruction Section -->

    </div><!-- Container Section -->
  </body>
</html>