

<html lang="en">  
<%= erb :'layouts/_header' %>
      <div class="wrapper float-container">  
        <div class="password-form">
          <h1>New Password </h1>
            <p>
              <h2 id="new_password"><%= @password.password_generator %></h2>
            </p>
            <p>  
              <form action='/word_generator' method="GET">
                <center><input type="submit" value="GET NEW PASSWORD" id="submit"/></center>
              </form> 
            </p>
        </div>
        <div class="logo-section" id="desk_image">
          
        </div>
      </div>

      <div class="instruction-section">
        <ul class="image-section float-container">
          <li class="image1"></li>
          <li class="image2"></li>
          <li class="image3"></li>
        </ul>
        <ul class="image-section float-container">
          <li class="instruction" id="p1">
            <p>Enter a word of your choice</p>
          </li>
          <li class="instruction" id="p2">
             <p>Enter a the URL or Company name</p>
          </li>
          <li class="instruction" id="p3">
             <p>Create a Password</p>
          </li>
        </ul>
      </div>

    </div>
  </body>
</html>




