<%= erb :'layouts/_header' %>
<h1>New Password </h1>

<h2>Password:  <%= @password.password_generator %></h2>

<form action='/word_generator' method="GET">
  <input type="submit" value="get new password"/>
</form>




