<html lang="en">  
<%= erb :'layouts/_header' %>
      <div class="wrapper float-container">
        
        <div class="password-form">
          <form action='/password' method="POST" name = "myform" onsubmit="submitForm(this);">
            <h2>Please enter two words that are at least 5 letters long</h2>
              <p>
                <label for="first_word" id="first_label">First Word:</label><span class="error" id="first_word_error">Please enter a first word</span><br>
                <input id="first_word" type="text" name="password[first_word]"><br>
              </p>
              <p>  
                <label for="second_word" id="second_label">Second Word:</label><span class="error" id="second_word_error">Please enter a second word</span><br>
                <input id="second_word" type="text" name="password[second_word]"><br>  
              </p>
              <center><input id="create" class="submit"type="submit" value="CREATE PASSWORD" /></center>
            </form>
        </div><!--Password Form Section Ended  -->
        <div class="logo-section" id="desk_image">  
        </div><!--logo Section Ended  -->
      </div><!--Wrapper Section Ended  -->

      <div class="instruction-section">
        <ul class="image-section float-container">
          <li class="image1"></li>
          <li class="image2"></li>
          <li class="image3"></li>
        </ul>
        <ul class="image-section float-container">
          <li class="instruction" id="p1">
            <p>Enter a word of your choice</p>
          </li>
          <li class="instruction" id="p2">
             <p>Enter a the URL or Company name</p>
          </li>
          <li class="instruction" id="p3">
             <p>Create a Password</p>
          </li>
        </ul>
      </div><!--Instruction Section Ended  -->

    </div><!-- Container Section Ended -->
  </body>
</html>
