body{
  width: 100%;
}

h1{
    color: black;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
  /*background-color: #D6DDDE;*/
  color: red;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -8px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid grey;
}

#nav-left{
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  font-style: italic;
}

#nav-left a{
  text-decoration: none;
  color: red;
}

#nav-left a:hover{
  color: black;
}
#nav-right{
  float: right;
  margin-right: 50px;
  position: relative;
}

.icon2{
  height: 40px;
}

.float-container{
  overflow: hidden;
}


/****************************************************************************************/
/*********************************Password Section***************************************/
/****************************************************************************************/

.wrapper{
  border-bottom: 3px solid red;
  width: 99%;
  margin-left: -10px;
  /*background-color: lightgrey;*/
  padding-top: 30px;
  padding-bottom: 40px;
}

.password-section{
  /*border: 1px solid black;*/
  width: 49%;
  float: left;
  padding-bottom: 70px;
}

.password-section h1{
 /* margin: 0 auto;*/
  text-align: center;
  margin: 50px 0px 30px 0px;
}

.password-section h2{
/*  margin: 0 auto;*/
  text-align: center;
  margin: 20px 0px 70px 0px;
  font-style: italic;

}

.password-section p{
/*  margin: 0 auto;*/
  text-align: center;
}

button{
  padding: 10px;
  border-radius: 10px;
  border-color: red;
  border: solid red 2px;
  background-color: black;
  color: white;
  font-weight:bold;
  font-size: 16px;
}

button:hover{
 background-color: red;
  color: white; 
}

.logo-section{
  float: left;
  /*border: 1px solid black;*/
  width: 49%;
  margin: 0 auto;
  text-align: center;
}

/****************************************************************************************/
/*********************************Information Section***************************************/
/****************************************************************************************/
.instruction-section{
  width: 60%;
  margin: 0 auto;

}

.instruction-section ul{
 horizontal-align: center;
  /*border: 1px solid black;*/
}

.image-section .image1,
.image-section .image2{
  background-size: 130px;
  width: 31%;
  height: 130px;
  float:left;
  margin:5px;
}

.image1{
 background: url('../images/user_icon.png') no-repeat;
  /*border: 1px solid black;*/
}

.image2{
  background: url('../images/www_icon.png') no-repeat;
   /*border: 1px solid black;*/
}

.image3{
  background: url('../images/lock-icon2.png') no-repeat;
  background-position: 0px -5px;
  background-size: 140px;
  height: 130px;
  width: 31%;
  float: left;
  /*border: 1px solid black;*/
  margin: 5px;
}

.image-section p{
  position: relative;
}

.instruction{
  background-size: 130px;
  width: 25%;
  height: 130px;
  float:left;
  margin-left: -20px;
  color: red;
  /*border: 1px solid black;*/
  text-align: center;
  position: relative;
  font-weight: bold;
}

#p2,
#p3{
  margin-left: 55px;  
}

/****************************************************************************************/
/*********************************Create Password Section***************  *****************/
/****************************************************************************************/
.password-form{
  border: 1px solid D6DDDE;
  border-radius: 5px;
  width: 30%;
  float: left;
  margin-top: 1%;
  margin-right: 13%;
  margin-left: 10%;
  padding: 20px;
  background-color: #D6DDDE;
  border: 6px solid #B8BEBF;
}

.password-form h2{
  text-align: center;
}

#desk_image{
  background: url('../images/login_icon.png') no-repeat;
  background-size: 255px;
  background-position: 30% 50%;
  width: 39%;
  height: 50%;
  float: left;
}


.submit{
  padding: 10px;
  border-radius: 10px;
  border-color: red;
  border: solid red 2px;
  background-color: black;
  color: white;
  font-weight:bold;
  font-size: 12px;
}

.submit:hover{
 background-color: red;
  color: white; 
}

.password-form #first_label,
.password-form #second_label{
  text-align: left;
  font-size: 16px;
}

.password-form #second_label{
  margin-right: 7px;
}

#first_word,
#second_word{
  text-align: left;
  width: 80%;
  margin-right: 7px;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

.error{
  color: red;
}

/****************************************************************************************/
/********************************* New Password Section *********************************/
/****************************************************************************************/

.password-form h1{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 55px
}

.password-form #new_password{
  text-align: center;
  font-size: 30px;
  margin-bottom: 55px;
  color: red;
}

